body{
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

article{
    color: white;
    float: left;
    padding: auto;
}

img {
    width: 300px;
    padding: 10px;
}

h1{
    padding: 10px;
    font-size: 50px;
}

section{
    float: left;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}
  

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

footer{
    background-color: white;
    color: black;
    padding: auto;
    float: left;
}
  