* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    background-color: rgb(62, 160, 240);
    padding: 0.1vw;
    text-align: center;
    font-size: 5vw;
    color: white;
  }

  .life {
    margin: 2vw;
    margin-top: 3.5vw;
    font-size: 1.9vw;
  }
  
  nav {
    float: left;
    width: 18%;
    background: rgb(131, 221, 248);
    padding: 0.1wv;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .column_footer {
    float: right;
    padding: 0.5vw;
    margin-top: 5vw;
  }

  body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

  article {
    float: left;
    padding: 0.15vw;
    width: 82%;
    color: white;
  }
  
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  footer {
    background-color: #777;
    padding: 5vw;
    text-align: left;
    color: white;
  }
  
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }