body{
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
img {
    width: 24vw;
    padding: 1vw;
}

.navigation{
    float: left;
    padding: 1.2vw;
    width: 18%;
    color: white;
    font-size: 1.7vw;
    height: 100vw;
}

.main{
    height: 80vw;
}

article{
    color: white;
    padding: auto;
}

section{
    margin-bottom: 12vw;
    background-color: rgb(48, 28, 105);
    color: black;
}

p{
    background-color: rgb(147, 128, 184);
    box-shadow: 2 2 2 10px;
}

nav {
    float: left;
    width: 82%;
    background: rgb(131, 221, 248);
    padding: 10px;
}
