p{
    background-color: rgb(147, 128, 184);
    box-shadow: 2 2 2 10px;
}

header {
    background-color: rgb(62, 160, 240);
    padding: 0.1vw;
    text-align: center;
    color: white;
  }

.navigation{
    float: left;
    padding: 1.2vw;
    width: 18%;
    color: white;
    font-size: 1.7vw;
    height: 55vw;
}

nav {
    float: left;
    width: 82%;
    background: rgb(131, 221, 248);
    padding: 1vw;
}

.main{
    height: 60vw;
}

article{
    color: white;
    padding: auto;
}

section{
    background-color: rgb(48, 28, 105);
    color: black;
}

body{
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
img {
    width: 24vw;
    padding: 1vw;
    max-height: 600px;
}